<footer class="final">

    <div class="foot-content">

        <div id="sobre-nosotros">

      <h2>Sobre nosotros</h2>

    <p>¡Encuentra tu auto ideal hoy! Ofrecemos una amplia selección de vehículos nuevos y usados, con precios competitivos y financiamiento accesible. Cada auto ha sido inspeccionado minuciosamente para garantizar su calidad y rendimiento. Visítanos y descubre la mejor opción para ti y tu familia. ¡Conduce con confianza!  </p>
 

  <div class="foot">

    <h2>Contacto</h2>
    
     <a href="mailto:kevinkuo@hotmail.com.ar">Escribime un mail</a>

  </div>

  
    <h2>Newsletter</h2>

    <form id="Newsletter-form">
      <input type="email" name="email" placeholder="Email" required>
      <input type="submit" value="Enviar">


    </form>


  </div>

  </footer>