
<nav class="navbar">

    <div class="container">

      <a href="#" class="logo">Car showroom</a>

  <ul class="nav-links">

    <li><a href="#">Inicio</a></li>
    <li><a href="#sobre-nosotros">Sobre nosotros</a></li>
    <li><a href="#formulario-form">Formulario</a></li>
    <li><a href="#">Contacto</a></li>

  </ul>

</div>
</nav>